In [40]:
import numpy as np
import time
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.drop(columns=['PassengerId', 'Name', 'Ticket','Cabin'], inplace=True)

In [7]:
# Imputing missing variables, especially age using knnimputer instead of dropping
imputer = KNNImputer(n_neighbors=5)
df[['Age','Fare','SibSp','Parch']] = imputer.fit_transform(df[['Age','Fare','SibSp','Parch']])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    float64
 5   Parch     891 non-null    float64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(4), int64(2), object(2)
memory usage: 55.8+ KB

In [9]:
df.dropna(inplace=True) # drop the rest of the rows with missing values instead of imputing as not imp

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    float64
 5   Parch     889 non-null    float64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(4), int64(2), object(2)
memory usage: 62.5+ KB

In [11]:
df = pd.get_dummies(df, columns = ['Pclass', 'Embarked', 'Sex'], drop_first=True)

In [12]:
df = df.astype(float)

In [13]:
df.head()

,Survived,Age,SibSp,Parch,Fare,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Sex_male
0,0.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,1.0,1.0
1,1.0,38.0,1.0,0.0,71.2833,0.0,0.0,0.0,0.0,0.0
2,1.0,26.0,0.0,0.0,7.9250,0.0,1.0,0.0,1.0,0.0
3,1.0,35.0,1.0,0.0,53.1000,0.0,0.0,0.0,1.0,0.0
4,0.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,1.0,1.0

In [14]:
scaler = StandardScaler()
df[['Age', 'Fare', 'SibSp', 'Parch']] = scaler.fit_transform(df[['Age', 'Fare', 'SibSp', 'Parch']])

In [140]:
X = np.array(df.drop('Survived', axis=1))
X = X.reshape(X.shape[1], X.shape[0])
y = np.array(df.Survived).reshape(1, len(df))
w = np.random.randn(X.shape[0], 1)
b = np.random.randn(1)
cost = 0
dw = np.zeros(w.shape)
db = np.zeros(b.shape)

In [142]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

def J(y_hat, y):
    return -(y*np.log(y_hat) + (1-y)*np.log(1-y_hat))

In [143]:
X.shape, y.shape, w.shape

((9, 889), (1, 889), (9, 1))

In [146]:
lr = 0.01
for epoch in range(10):
    print("Epoch:", epoch, end=' | ')
    z = np.dot(w.T, X) + b      # (1,889)
    y_hat = sigmoid(z)          # (1, 889)
    cost += np.sum(J(y_hat, y)) / y.shape[1]  # avg cost over all samples

    print("Cost:", cost)
    dz = y_hat - y    # (1,889)
    dw += np.dot(X, dz.T) / y.shape[1]   # (9,1)
    db += np.sum(dz) / y.shape[1]   # (1,1)

    w = w - lr*dw
    b = b - lr*db

Epoch: 0 | Cost: 13.95614390299398
Epoch: 1 | Cost: 15.094132941896287
Epoch: 2 | Cost: 16.225930318148663
Epoch: 3 | Cost: 17.351064065101315
Epoch: 4 | Cost: 18.46907282897222
Epoch: 5 | Cost: 19.579506705599325
Epoch: 6 | Cost: 20.68192808214264
Epoch: 7 | Cost: 21.77591248434311
Epoch: 8 | Cost: 22.861049430052145
Epoch: 9 | Cost: 23.936943289880187

In [ ]:
np